
  <div *ngIf= "items!=''">
<div class="container-fluid">
    <div class ="row">
      <div class="col-12">
              <table class="table table-bordered">
    <thead>
           
            <tr class="text-center">
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sub Total </th>
                    <th scope="col">Image</th>
                    <th scope="col">Quantity</th>
                    </tr>
                    </thead>
<tbody>
    <tr *ngFor="let product of items" class="align-middle">
            
              <td class="text-center">{{product.pid}} <br></td>
              <td class="text-center">{{product.productName}} <br></td>
              <td class="text-center"><fa-icon [icon]="dollar"></fa-icon>{{product.price}} <br></td>
              <td class="text-center">{{product.quantity*product.price}}<br></td>
              <td class="w-25">
                      <img class="mx-auto d-block" src ="{{product.path}}" alt="">
              </td> 
            
              <td class="text-center">{{product.quantity}}</td>
             
            
</tbody>                    
            </table> 
        </div>
    </div> 
</div>

<router-outlet></router-outlet>
<br><br>

<div  *ngIf ="totalamount==0 ">
    <b>Click here to see yout total amount & check out your cart 
    <button type="button" class="btn btn-info" (click) ="calcTotalCost()" >Check Out
        
    </button> </b><br></div>
    <div *ngIf ="totalamount!=0">
      
   <b>your total bill amount =   <fa-icon [icon]="dollar " > </fa-icon>{{totalamount}} </b> </div>

</div>

<br>
<div *ngIf ="items!=''" >
<b>If you want to empty your cart  


     <button type="button" class="btn btn-danger" (click)="clear()" >  Empty Cart <br ></button> </b>


  <div *ngIf= "items==''">

     <b> your added cart items removed </b> </div>

    </div>
    