<!-- <p>productentry works!</p> -->
<form [formGroup]="productForm"style= "padding-top: 4rem;"method="post">
    <div class="row">
        <div class="col">
             <input type="text"  class="form-control" formControlName= "pid" placeholder="Product Id">
              </div>
     
            <div class="col">
              
             <input type="text" class="form-control" formControlName= "productName" placeholder="Product Name">
            
       
         <!-- <div [hidden]="productName.untouched" class="alert alert-danger">
          Product Name required...
        </div> -->
      </div>
        </div><br>
      
            <div>
               <input type="text" class="form-control" formControlName=  "price"  placeholder="Price">
              
               <!-- <div [hidden]= "price.untouched" class="alert alert-danger">
               price  required... -->
            <!-- </div> -->
         </div><br>
         <div class="row">
            <div class="col">
      
        
         <input type="text" class="form-control" formControlName= "description"  placeholder="Description">
        </div>
    </div><br>
    <div class="row">
        <div class="col">
  
      
      <input type="text" class="form-control" formControlName= "quantity"  placeholder="Quantity">
    </div>
    </div><br>
      <div>
            <input type="file"class="form-control" src="../../../assets/image/"   alt="" formControlName= "path"  placeholder="Image">

        </div>
      

   <div>
    <input type="submit" (click)= "add()" value="add" class="btn btn-primary">
   </div>
</form> 
    
   
    