
<form action ="">
    <div class ="form-group">
        <label form="">UserName</label>
    </div>
    <input type="text" class="form-control" #username ="ngModel" required [(ngModel)] ="model.username" name ="username">
    <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
        UserName required...
        </div>
        <div class ="form-group">
        <label form="">password</label>
    </div>
    <input type="password" class="form-control"  #password="ngModel" required [(ngModel)] ="model.password" name ="password">
        <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
            PassWord required...
    </div>
    <button (click)="login()">login </button>
    <button (click)="save()">save </button>
</form>
<table border="1opx" style="width:100%">
    <thead> 
        <th>Id</th> 
        <!-- <th>storeid</th> -->
        <th>username</th>
        <th>password</th>
        <!-- <th>address</th> -->
        <th>Edit</th>
        <th>Delete</th>      
    </thead>
<tr *ngFor="let data of inventory_data" >  

 <td >{{data.id}}</td> 
 <td >{{data.username}}</td>
<td >{{data.password}}</td>
<!-- <td >{{data.gst}}</td> -->
<!-- <td >{{data.address}}</td>   -->
 <td ><button (click)="editData(data)">edit</button></td>
<td ><button (click)="deleteData(data)">delete</button></td>  
 </tr>
</table> 