<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" class="btn btn-primary"href="#">CarShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
          <a class="nav-link "class="btn btn-warning"routerLink ="login"> Users Home Page  </a>
         </li>
        <br>
        <li class="nav-item">
           <a class="nav-link" class=  "btn btn-outline-success" routerLink ="productentry">Product Form</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link "class="btn btn-outline-danger"routerLink ="home"> CarShop Products    </a>
       </li>
      </ul>
      
        <a class="nav-link"class=  "btn btn-info"routerLink ="checkout">
        <i class="material-icons">shopping_cart</i> <b><span style="color:indigo ">CART</span></b> 
         </a>
         
        <div class="dropdown">  
          
          <div class="nav-item dropdown" dropdown>
          <!-- <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" >
            Account</a> -->
        
          <!-- <div>
            <a class="nav-link"   class="nav-link dropdown-toggle waves-light"routerLink ="login">
              <span class="material-icons">login</span>Login 
              </a> 
            </div>   -->
            <div>
            <a class="nav-link"   class="btn btn-warning"routerLink ="logout">
              <span class="material-icons"> logout</span>Logout
            </a>
          </div> 
          </div> 
        </div> 
   </div>
  </div>
</nav>

 
 
     
 
<router-outlet></router-outlet> 

 
